@{
  Layout = "_Layout";
}

<h2>Stylist: @Model.Name</h2>
<p>Specializes in: @Model.Specialization</p>

<p>List of clients:</p>
@if(Model.Clients == 0)
{
  <h4>There are no clients for this stylist yet</h4>
}