@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h4>Add a new Client for @ViewBag.StylistName</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.Hidden("StylistId", ViewBag.StylistId)

  <input type="submit" value="Add client"/>
}